.song-row {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.song-row > div {
    display: flex;
    flex-direction: row;
}

.small-input {
    width: 8rem;
}

.set-header {
    display: flex;
    justify-content: space-between;
}
