@use '@angular/material' as mat;

// General Override Themes
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Angular Theme Settings
html {
  @include mat.theme((
    density: -5
  ));
}

ol {
  padding-inline-start: 0;
}